<launch>
    <!-- Configurable arguments -->
    <arg name="robot_name" default="turtlebot"/>
    <arg name="simulation_data" default="$(find turtlebot_simulation)/resources"/>
    <arg name="scenario_description" default="$(find turtlebot_simulation)/scenarios/kobuki_hol_circuit2_arucos.scn"/>
    <arg name="simulation_rate" default="300.0"/>
    <arg name="graphics_resolution" default="800 640"/>
    <arg name="graphics_quality" default="low"/>
    
    <node name="realsense_color" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 camera_color_optical_frame $(arg robot_name)/realsense_color 100"/>
    <node name="realsense_depth" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 camera_depth_optical_frame $(arg robot_name)/realsense_depth 100"/>

    <!-- Namespace with robot name -->
    <group ns="$(arg robot_name)">
        <!-- Run Simulator -->
        <node name="stonefish_simulator" pkg="stonefish_ros" type="parsed_simulator" 
            args="$(arg simulation_data) $(arg scenario_description) $(arg simulation_rate) $(arg graphics_resolution) $(arg graphics_quality)" output="screen">
            <param name="robot_name" value="$(arg robot_name)"/>
            <remap from="swiftpro/joint_states" to="joint_states"/>
        </node>

        <!-- Load robot description -->
        <param name="robot_description" command="$(find xacro)/xacro '$(find kobuki_description)/urdf/kobuki_standalone.urdf.xacro'" />
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
        
        <!-- RVIZ -->
        <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find kobuki_description)/rviz/kobuki.rviz"/> -->
    </group>
</launch>
